<html>
    <head>
        <title>Anunturi</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
<body>
<div>
    <a href="AnnounceList" class="navButton">Lista anunturi</a>
    <a href="AddAnnounce" class="navButton">Adauga anunt nou</a>
</div>
